:host {
  flex: auto;
  display: flex;

  section {
    flex: auto;
    display: flex;

    > sci-list {
      padding: 1em;
      flex: auto;

      a:hover {
        cursor: pointer;
      }
    }
  }
}
